*{
    box-sizing: border-box;
    
}
table, th, td,tr {
    border: 1px solid black;
    border-top: 4px solid violet;
    }
    .sp{
      color: rgb(239, 11, 80);
      
    }
    .pic
    {
      border-color: red;
border-width: 30px;
    }
    .qik
    {
      font-family: 'ubuntu', 'Edu VIC WA NT Beginner', cursive;
      font-size: 20px;
      color: rgb(70, 80, 90);
      background-color: antiquewhite;
      border-radius: 5px;
  }
  body{
      background-color: lightcyan;
  }
  
  #heading{
      font-size:4em;
      
      font-family:'Edu VIC WA NT Beginner';
      border : 2px solid black;
      border-radius:20px ;
      background-image: url(https://images.pexels.com/photos/624015/pexels-photo-624015.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
      background-position: center centre;
      text-align: center ;
  }